@media screen and (max-width: 768px){

*
{
    padding: o;
    margin: 0;
}

body{
    background-color: rgb(13, 13, 13);
    overflow: hidden;
}

.frame_Row
{
    display: flex;
    flex-direction: row;
}

.game_container
{
    border: none;
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    z-index: 0;
}
.frame_container
{
    width: 22vw;
    height: 100px;
    margin: 3px 3px;
    position: relative;
    perspective: 800px;
    cursor: pointer;
}

.card
{
    width: 100%;
    height: 100%;
    transition: 1200ms;
    transform-style: preserve-3d;
}

.front_face, .back_face
{
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 10px;
    backface-visibility: hidden;
    border: 1px solid white;
}

.front_face
{
    background-image: none;
    background-repeat: no-repeat;
    background-size: contain;
    transform: rotateY(180deg);
    background-color: aliceblue;
}
.back_face
{
    background-color: rgb(18, 18, 18);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    color: aliceblue;
    
}

.rotate_card
{
    transform: rotateY(180deg);
}

.info_container
{
    width: 90vw;
    height: 13vh;
    margin: 0 auto;
    margin-bottom: 10px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid white;
    border-radius: 10px;
    position: relative;
    background-color: rgb(18, 18, 18);
}


.header
{
    top: 0;
    background-color: rgb(14, 14, 14);
    width: 100vw;
    height: 8vh;
    box-shadow: 0 0 10px 2px rgb(30, 30, 30);
    text-align: center;
    display:flex;
    align-items: center;
    justify-content: center;
}

.header .header_text{

    font-family: cursive;
    color: aliceblue;
    font-size: 20px;
    margin-left: 10px;
    font-weight: 900;
}

.info_container div
{
    color: white;
    font-family: fantasy;
    margin: 15px 15px;
    font-size: 20px;
    background-color: rgb(32, 32, 32);
    padding:5px 15px;
    border-radius: 5px;
    box-shadow: 0 0 10px 1px rgb(73, 73, 73);
    
}

.game_buttons
{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
}

.game_buttons button
{

    width: 40vw;
    height: 45px;
    background-color: black;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-family :'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-shadow: 0 0 2px 5px rgb(14, 14, 14);
    font-size: 25px;
    border: 2px  solid rgb(29, 29, 29);
    transition: all 1s ease-in;
    text-decoration: none;
    background-color: rgb(18, 18, 18);
    margin: 0 auto;
    margin-top: -20px;
}

.help
    {
        width: 92vw;
        height: fit-content;
        background-color: rgb(39, 39, 39);
        border-radius: 10px;
        position: absolute;
        z-index: 3;
        display:  block;
        margin: 0 auto;
        margin-top: 15vh;
        margin-left: 4vw;
        padding-bottom: 20px;
    }

  
    .help .section
    {

        color: white;
        text-align: center;
        
    }

    .help .section .content_header 
    {
        color: white;
        margin: 15px 15px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

    .help .answer
    {
        margin: 15px 15px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

    .help button
    {
        width: 150px;
        height: 60px;
        background-color: black;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        font-family :'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        box-shadow: 0 0 2px 5px rgb(14, 14, 14);
        font-size: 25px;
        border: 2px  solid rgb(29, 29, 29);
        transition: all 1s ease-in;
        text-decoration: none;
        background-color: rgb(18, 18, 18);
        margin: 0 auto;
        margin-top: 30px;
    }


    .blured_background
    {
        width: 100vw;
        height: 100vh;
        background-color: rgba(255, 255, 255, 0.248);
        z-index: 2;
        position: absolute;
    }

    .main_screen_footer
    {
        background-color: rgb(53, 53, 53);
        margin: 0 auto;
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100vw;
        padding: 10px 2px;
        text-align: center;
        border-radius: 10px 10px 0 0;
        z-index: 2;
    }

    .main_screen_footer .credit
    {
        color: aliceblue;
        font-size: 20px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }


    .paused
    {
        width: 92vw;
        height: fit-content;
        background-color: rgb(39, 39, 39);
        border-radius: 10px;
        position: absolute;
        z-index: 3;
        display:  block;
        margin: 0 auto;
        margin-top: 30vh;
        margin-left: 4vw;
        padding-bottom: 20px;
        display: none;
    }

  
    .paused .section
    {
        color: white;
        text-align: center;
    }

    .paused .section .content_header 
    {
        color: white;
        margin: 15px 15px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

    .paused .answer
    {
        margin: 15px 15px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

    .paused button
    {
        width: 150px;
        height: 60px;
        background-color: black;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        font-family :'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        box-shadow: 0 0 2px 5px rgb(14, 14, 14);
        font-size: 25px;
        border: 2px  solid rgb(29, 29, 29);
        transition: all 1s ease-in;
        text-decoration: none;
        background-color: rgb(18, 18, 18);
        margin: 0 auto;
        margin-top: 30px;
    }


    .restart
    {
        width: 92vw;
        height: fit-content;
        background-color: rgb(39, 39, 39);
        border-radius: 10px;
        position: absolute;
        z-index: 3;
        display:  block;
        margin: 0 auto;
        margin-top: 15vh;
        margin-left: 4vw;
        padding-bottom: 20px;
        display: none;
    }

  
    .restart .section
    {
        color: white;
        text-align: center;
    }

    .restart .section .content_header 
    {
        color: white;
        margin: 15px 15px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

    .restart .answer
    {
        margin: 15px 15px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

    .restart button
    {
        width: 150px;
        height: 60px;
        background-color: black;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        font-family :'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        box-shadow: 0 0 2px 5px rgb(14, 14, 14);
        font-size: 25px;
        border: 2px  solid rgb(29, 29, 29);
        transition: all 1s ease-in;
        text-decoration: none;
        background-color: rgb(18, 18, 18);
        margin: 0 auto;
        margin-top: 30px;
    }


    .completed
    {
        width: 92vw;
        height: fit-content;
        background-color: rgb(39, 39, 39);
        border-radius: 10px;
        position: absolute;
        z-index: 3;
        display:  block;
        margin: 0 auto;
        margin-top: 15vh;
        margin-left: 4vw;
        padding: 20px 0;
        display: none;
        
    }

  
    .completed .section
    {

        color: white;
        text-align: center;
        
    }

    .completed .section .content_header 
    {
        color: white;
        margin: 15px 15px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

    .completed .answer
    {
        margin: 15px 15px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

    .completed button
    {
        width: 230px;
        height: 60px;
        background-color: black;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        font-family :'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        box-shadow: 0 0 2px 5px rgb(14, 14, 14);
        font-size: 25px;
        border: 2px  solid rgb(29, 29, 29);
        transition: all 1s ease-in;
        text-decoration: none;
        background-color: rgb(18, 18, 18);
        margin: 0 auto;
        margin-top: 30px;
    }




}