@media screen and (max-width: 768px){

*
{
    padding: o;
    margin: 0;
}

body{
    background-color: black;
    overflow: hidden;
}

.frame_Row
{
    display: flex;
    flex-direction: row;
}

.game_container
{
    border: none;
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    z-index: 0;
}
.frame_container
{
    width: 22vw;
    height: 100px;
    margin: 3px 3px;
    position: relative;
    perspective: 800px;
    cursor: pointer;
}

.card
{
    width: 100%;
    height: 100%;
    transition: 1200ms;
    transform-style: preserve-3d;
}

.front_face, .back_face
{
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 10px;
    backface-visibility: hidden;
}

.front_face
{
    background-image: none;
    background-repeat: no-repeat;
    background-size: contain;
    transform: rotateY(180deg);
    background-color: aliceblue;
}
.back_face
{
    background-color: rgb(18, 18, 18);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    color: aliceblue;
    
}

.rotate_card
{
    transform: rotateY(180deg);
}

.info_container
{
    width: 90vw;
    height: 18vh;
    margin: 0 auto;
    margin-bottom: 10px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid white;
}


.header
{
    top: 0;
    background-color: rgb(14, 14, 14);
    width: 100vw;
    height: 10vh;
    box-shadow: 0 0 10px 2px rgb(30, 30, 30);
    text-align: center;
    display:flex;
    align-items: center;
}

.header .header_text{

    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: beige;
    font-size: 25px;
    margin-left: 10px;
}

.info_container div
{
    color: white;
    font-family: fantasy;
    margin: 20px 20px;
    font-size: 25px;
}

.game_buttons
{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
}

.game_buttons button
{

    color: aliceblue;
    background-color: rgb(18, 18, 18);
    border: 0px solid;
    border-radius: 10px;
    width: 40%;
    height: 50%;
    margin: 10px 10px;
    font-size: 20px;
    font-family: fantasy;

}




}