*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(242, 246, 41);
    overflow: hidden;
    
}

.frame_Row
{
    display: flex;
    flex-direction: row;
}

.game_container
{
    border: 2px solid black;
    width: fit-content;
    height: 76vh;
    display: flex;
    flex-direction: column;
    z-index: 0;
}
.frame_container
{
    width: 100px;
    height: 150px;
    margin: 20px 20px;
    position: relative;
    perspective: 800px;
    cursor: pointer;
}

.card
{
    width: 100%;
    height: 100%;
    transition: 1200ms;
    transform-style: preserve-3d;
}

.front_face, .back_face
{
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 10px;
    backface-visibility: hidden;
}

.front_face
{
    background-image: none;
    background-repeat: no-repeat;
    background-size: contain;
    transform: rotateY(180deg);
}
.back_face
{
    background-color: rgb(18, 18, 18);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    color: aliceblue;
    
}
.rotate_card
{
    transform: rotateY(180deg);
}

.main_screen
{
    width: 100vw;
    height: 100vh;
    background-color: white;
    position: absolute;
    z-index: 1;
}

@media screen and (max-width: 768px){

    body{
        overflow-x: hidden;
        text-decoration: none;
        zoom: normal;
    }


    .main_screen
    {
        width: 100vw;
        height: 100vh;
        background-color: white;
        position:  absolute;
        z-index: 1;
        background-color: rgb(0, 0, 0);
    }

    .game_container
    {
    border: 2px solid black;
    width: 100vw;
    height: 76vh;
    display: flex;
    flex-direction: column;
    z-index: 0;
    
    }

    .header
    {
        top: 0;
        background-color: rgb(14, 14, 14);
        width: 100vw;
        height: 10vh;
        box-shadow: 0 0 10px 2px rgb(30, 30, 30);
        text-align: center;
        display:flex;
        align-items: center;
        justify-content: center;
    }

    .main_screen .header .header_text{

        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: beige;
        font-size: 25px;
    }

    .game_logo
    {
        display:block;
        width: 100vw;
        height: 30vh;
        background-color: black;
        margin-top: 100px;
    }

    .play_button
    {
        background-color: black;
        width: 100vw;
        height: fit-content;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 100px;
    }


    .play_button .button{
        width: 150px;
        height: 60px;
        background-color: black;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        font-family :'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        box-shadow: 0 0 2px 5px rgb(14, 14, 14);
        font-size: 25px;
        border: 2px  solid rgb(29, 29, 29);
        transition: all 1s ease-in;
        text-decoration: none;
    }

    .play_button  a
    {
        text-decoration: none;
    }

    .frame_Row_logo
    {
        width: 100vw;
        height: 50%;
        background-color: black;
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 20px;
    }

    .frame_container_logo
    {
        width: 100px;
        height: 120px;
        margin: 10px 7px;
        position: relative;
        perspective: 800px;
        cursor: pointer;

    }

    .card_logo
    {
        width: 100%;
        height: 100%;
        transition: 1200ms;
        transform-style: preserve-3d;
        animation-name: animate_logo;
    }


    .front_face_logo, .back_face_logo
    {
        width: 100%;
        height: 100%;
        position: absolute;
        border-radius: 10px;
        backface-visibility: hidden;
    }

    .front_face_logo
    {
        background-image: url("brain.png");
        background-repeat: no-repeat;
        background-size: contain;
        background-color: aliceblue;
        transform: rotateY(180deg);
    }
    .back_face_logo
    {
        background-color: rgb(18, 18, 18);
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 50px;
        color: aliceblue;
        
    }

    .main_screen_footer
    {
        background-color: rgb(14, 14, 14);
        bottom: 0;
        position: absolute;
        width: 100vw;
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .main_screen_footer .credit
    {
        color: aliceblue;
        font-size: 20px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }


    .loading_prompt_mobile
    {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100vw;
        height: fit-content;
        background-color: black;
        margin-top: 50px;

    }

    .loading_prompt_mobile .loading_mobile{
        color: aliceblue;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 30px;
    }


}
